.rvf {
  display: flex;
  justify-content: center;
}

.tabbed-form {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 90%;
}

/* tab headers */
.tabs {
  display: flex;
  font-family: Monserrat, Arial, Helvetica, sans-serif;
  gap: 3px;
  justify-content: space-between;
}

.tabs .tab {
  align-items: center;
  background-color: rgb(229, 229, 229);
  border: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  flex: 1 1 10rem;
  font-size: 1.15rem;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  word-break: normal;
}

.tab .tablink {
  color: rgb(136, 132, 128);
  flex-grow: 1;
  padding: 0.5rem;
  text-decoration: none;
}

.directional-link {
  background-color: #fd7706;
  color: #fff;
  border: 0;
  border-radius: 0.5rem;
  flex: auto 0 1rem;
  font-family: Monserrat, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.tabs .tab.active-tab {
  background-color: rgb(132, 173, 208);
}

.tabs .tab.active-tab .tablink {
  color: #fff;
}

/* tab content area */
.tab-content-panel {
  background-color: rgb(132, 173, 208);
  padding: 1rem;
}

.tab-content {
  display: flex;
  flex-direction: column;
}

.tab-content-footer {
  display: flex;
  justify-content: flex-end;
}

.tab-content.inactive-tab {
  display: none;
}

.tab-content.active-tab {
  display: block;
}

/* form area in each tab */
.tabbed-fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0.01em 0 0 0;
}

.rvf .tabbed-fieldset .rtv-form-group {
  margin-bottom: 0;
}

.tabbed-fieldset label {
  color: #fff;
  font-family: Monserrat, Arial, Helvetica, sans-serif;
}

/* grids for form panels */
#contact-info .tabbed-fieldset .grid-group {
  border-bottom: 1px solid #333;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#personal-info .tabbed-fieldset .grid-group {
  border-bottom: 1px solid #333;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#work-info .tabbed-fieldset .grid-group-4-column {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#work-info .tabbed-fieldset .grid-group-3-column {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.tabbed-fieldset .first-two-columns {
  grid-column: 1 / 3;
}

.tabbed-fieldset .last-two-columns {
  grid-column: 2 / 4;
}

.tabbed-fieldset .grid-group:last-child {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.tabbed-fieldset .rtv-form-group input,
.tabbed-fieldset .rtv-form-group select,
.tabbed-fieldset .rtv-form-group textarea {
  background-color: #fff !important;
  max-width: 100% !important;
}

.rvf select {
  width: 100%;
  max-width: 400px;
}

.rtv-form-group.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rtv-form-group.flex input[type='checkbox'] {
  position: relative;
  top: -0.125rem;
}
